<!doctype html>
<html lang="en" data-ng-app="testApp">
<head>
	<title>MK ACCORDION CAROUSEL</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../bower_components/bootstrap-overrides/css/bootstrap-overrides.css">
	<link rel="stylesheet" href="css/mk-accordion-carousel.css">
	<style>
		body{
			/*background: #333;*/
		}
		.mk-accordion-carousel .btn-carousel{
		    position: absolute;
		    right: 10px;
		    top: 70px;
		    border-radius: 50%;
		}
	</style>
</head>
<body data-ng-controller="TestCtrl">
	<div class="container">
		<div class="page-header text-center">
			<h2 class="text-uppercase">MK ACCORDION CAROUSEL by <a href="http://www.masoomulhaq.in/" target="_blank">masoom</a></h2>
			<ul class="list-inline text-muted">
                <li><a class="inherit" href="https://twitter.com/smasoomulhaq" target="_blank"><i class="inherit fa fa-twitter"></i></a></li>
                <li><a class="inherit" href="https://plus.google.com/u/0/+MasoomS/posts" target="_blank"><i class="inherit fa fa-google-plus"></i></a></li>
                <li><a class="inherit" href="http://codepen.io/masoomulhaqs/" target="_blank"><i class="inherit fa fa-codepen"></i></a></li>
                <li><a class="inherit" href="http://jsfiddle.net/user/masoomulhaqs/" target="_blank"><i class="inherit fa fa-jsfiddle"></i></a></li>
                <li><a class="inherit" href="https://github.com/masoomulhaqs" target="_blank"><i class="inherit fa fa-github"></i></a></li>
            </ul>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div mk-accordion-carousel 
					carousel-items="dummyArray" 
					solid-colors="false"
					class="mk-accordion-carousel" 
					data-ng-class="{'editable-carousel': isEditable}">
					<div class="item" mk-item
						ng-repeat="item in dummyArray track by item[0]"
						data-ng-click="changeItem($event, item);">
						<div class="panel panel-box">
		        			<div class="panel-heading">
		        				<h3 class="text-uppercase no-margin clearfix">I am the Title {{item[0]}}<small class="pull-right">(3 - 10 days)</small></h3>
		        			</div>
		        			<div class="panel-body">
		        				<a class="btn btn-carousel"
		        					data-ng-show="$first"
		        					data-ng-click="toggleEditable()"><i class="glyphicon glyphicon-pencil inherit"></i></a>
		        				<div class="overflow-170">
		        					<h4>{{$index}}</h4>
		        					{{item}}
		        				</div>
		        			</div>
		        			<div class="panel-footer">
		        				<p>I'm a little footer</p>
		        			</div>
		        		</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<script src="../bower_components/angular/angular.min.js"></script>
	<script src="js/mk-accordion-carousel.js"></script>
	<script src="js/app.js"></script>
</body>
</html>