$colors-list: #6D5CAE #10CFBD #f55753 #f8d053 #48B0F7 #2D3446 #607D8B;
@mixin default-item($color){
	.panel{
		border-color: $color;
	}
	.panel-heading,
	.panel-footer,
	.btn-carousel{
		background: $color;
	}
}
.panel-box{
	&,
	.panel-heading,
	.panel-body,
	.panel-footer{
    	border-radius: 0;
	}	
}

.mk-accordion-carousel{
    position: relative;
    overflow: hidden;
    min-height: 370px;
    background-color: #fff;
    .btn-carousel{
	    position: absolute;
	    right: 10px;
	    top: 70px;
	    border-radius: 50%;
	    line-height: 1 !important;
	    background: #ccc;
	    color: #fff;
	    border: 0 solid #ccc;
	    padding: 9px;
	    font-size: 0.7em;
	    box-shadow: 0 3px 4px #ccc;
    }
    .item{
	    position: absolute;
	    left: 0;
	    top: 0;
	    right: 0;
	    -webkit-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	    cursor: pointer;
	    @each $current-color in $colors-list {
		    $i: index($colors-list, $current-color);
		    &.item#{$i} { 
	    		@include default-item($current-color);
		    }
		}
    }
    .panel{
    	box-shadow: 0 1px 8px rgba(51, 51, 51, 0.39);
    	margin-bottom: 0;
    	border: 0;
    }
    .panel-heading,
    .panel-footer{
	    border-color: rgba(0, 0, 0, 0.25);
	    border-width: 5px;
	    padding: 16px 35px;
		&, small{
    		color: #fff;
		}
	    h3{
		    line-height: 1;
		}
    }
    .panel-body{
    	padding: 16px 35px;
    }
}
.overflow-170{
    height: 170px;
    overflow: auto;
}